<div class="spotify-player border rounded p-3 bg-light w-75">
    <div class="d-flex align-items-center" *ngIf="currentTrack; else noTrack">
        <div class="row">
            <div class="col-md-12">
                <img [src]="currentTrack?.album.images[0]?.url" class="rounded me-3 w-100" alt="Track Image">
            </div>
            <div class="col-md-12 mt-2">
                <h5 class="mb-0">{{ currentTrack?.name }}</h5>
                <small class="text-muted">{{ currentTrack?.artists[0]?.name }}</small>
            </div>
        </div>
    </div>

    <ng-template #noTrack>
        <p class="text-center">No hay ninguna canción reproduciéndose.</p>
    </ng-template>

    <div class="mt-3 text-center">
        <!-- Last -->
        <button class="btn btn-secondary me-2" (click)="previous()" [disabled]="!currentTrack">
            <i class="bi bi-skip-backward-fill"></i>
        </button>

        <!-- Play -->
        <button class="btn btn-success me-2" (click)="play()" [disabled]="!currentTrack">
            <i class="bi bi-play-fill"></i> Play
        </button>

        <!-- Pause -->
        <button class="btn btn-danger me-2" (click)="pause()" [disabled]="!currentTrack">
            <i class="bi bi-pause-fill"></i> Pause
        </button>

        <!-- Next -->
        <button class="btn btn-secondary me-2" (click)="next()" [disabled]="!currentTrack">
            <i class="bi bi-skip-forward-fill"></i>
        </button>
    </div>
</div>