<div class="container-fluid mt-4">
    <h1 class="text-center">Dashboard</h1>

    <!-- Reproductor de Spotify -->
    <div class="row mt-4">
        <div class="col-md-6">
            <app-spotify-player></app-spotify-player>
            <app-playlist></app-playlist>
        </div>
        <!-- Calendario -->
        <div class="col-md-6">
            <app-calendar></app-calendar>
        </div>
    </div>

    <!-- Seguimiento de Hábitos -->
    <div class="row mt-4">
        <div class="col-md-12">
            <app-habit-tracker></app-habit-tracker>
        </div>
    </div>
</div>