<div class="container-fluid p-4">
    <h1 class="text-center">Flowly</h1>

    <!-- Spotify player -->
    <div class="row mt-4">
        <div class="col-md-6">
            <app-spotify-player></app-spotify-player>
            <app-playlist></app-playlist>
        </div>
        <!-- Calendar -->
        <div class="col-md-6">
            <app-calendar></app-calendar>
        </div>
    </div>

    <!-- Habits -->
    <div class="row mt-4">
        <div class="col-md-12">
            <app-habit-tracker></app-habit-tracker>
        </div>
    </div>
</div>